.theme {
	width: 100%;

	.banner {
		position: relative;
		height: 1660px;
		background: url(../../assets/img/theme-bg1.jpg) no-repeat 0 0;
		background-size: 1920px 100%;

		.theme-title {
			position: absolute;
			left: 50%;
			top: 68px;
			transform: translateX(-50%);
			width:268px;
			height:56px;
			line-height: 56px;
			background:rgba(246,179,127,0.41);
			font-size:32px;
			font-family:MicrosoftYaHei-Bold;
			font-weight:bold;
			color:rgba(252,139,6,1);
			padding-left: 8px;
			margin-left: -370px;

		}

		.list-one {
			width: 100%;
			padding-top: 389px;

			.one-change {
				width: 971px;
				height: 84px;
				margin: 0 auto;
				position: relative;

				.swiper-slide {
					text-align: center;
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
				}

				img {
					width: 146px;
					height: 84px;
					margin: 0 auto;
					box-sizing: border-box;
					cursor: pointer;
					border: 3px solid rgba(255, 255, 255, 1);
				}

				p {
					position: absolute;
					z-index: 2;
					bottom: 3px;
					width: 140px;
					height: 25px;
					line-height: 25px;
					background: rgba(0, 0, 0, 0.8);
					margin: 0 auto;
					font-size: 12px;
					color: rgba(255, 255, 255, 1);
					cursor: pointer;
				}

				.imgActive {
					height: 78px;
					line-height: 78px;
				}

				.swiper-prev {
					background: rgba(0, 0, 0, 1) url(../../assets/img/md-l.png) no-repeat center center;
					position: absolute;
					left: -80px;
					top: 50%;
					margin-top: -42px;
					width: 50px;
					height: 84px;
				}

				.swiper-next {
					background: rgba(0, 0, 0, 1) url(../../assets/img/md-r.png) no-repeat center center;
					position: absolute;
					right: -80px;
					top: 50%;
					margin-top: -42px;
					width: 50px;
					height: 84px;
				}
			}
		}

		.shebei {
			width: 1200px;
			height: 439px;
			margin: 0 auto;
			margin-top: 54px;

			.banner-imgs {
				.imgList {
					width: 1200px;
					height: 439px;

					.top {
						position: relative;

						.top-imgList {
							.img {
								height: 439px;
								width: 1200px;
							}
						}

						.top-imgMinList {
							position: absolute;
							bottom: 3px;
							height: 102px;
							background: rgba(0, 0, 0, 0.6);
							width: 100%;

							ul {
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);

								li {
									float: left;
									margin: 0 30px;
									cursor: pointer;

									img {
										width: 105px;
										height: 60px;
									}
								}
							}
						}
					}

					.bottom {
						width: 1200px;
						height: 340px;
						background: rgba(255, 255, 255, 1);
						padding-top: 32px;
						padding-left: 68px;

						.div2 {
							margin-left: 56px;
						}

						h3 {
							font-size: 22px;
							position: relative;

							font-weight: bold;
							color: rgba(0, 0, 0, 1);

							&::before {
								content: "";
								width: 15px;
								height: 27px;
								background: rgba(0, 145, 234, 1);
								position: absolute;
								left: -24px;
							}

							margin-bottom: 24px;
						}

						.p1 {
							width: 548px;
							font-size: 12px;
							font-weight: bold;
							color: rgba(102, 102, 102, 1);
							line-height: 18px;
						}

						.p2 {
							font-size: 12px;
							font-weight: bold;
							color: rgba(102, 102, 102, 1);
							line-height: 24px;
						}
					}
				}
			}
		}
	}

	.art {
		width: 100%;
		height: 1062px;
		/* background: url(../../assets/img/index-item1.png) no-repeat;
  background-size: 100% 100%; */
		text-align: center;
		padding-top: 60px;

		.img {
			width: 456px;
			height: 93px;
			position: relative;
			z-index: 11;
		}

		position: relative;

		.meng {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 10;
			background: rgba(15, 57, 119, 0.7);
		}

		.meng2 {
			width: 100%;
			height: 1088px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			background: #fff;

			img {
				width: 100%;
				height: 100%;
				display: inline-block;
			}
		}
	}

	//动物场馆
	.animal {
		width: 100%;
		height: 1080px;
		text-align: center;
		background: url(../../assets/img/theme-animal.png) no-repeat;
		background-size: 100% 100%;
		padding-top: 163px;

		.img {
			width: 456px;
			height: 93px;
		}

		.bottom {
			position: relative;
			width: 1200px;
			margin: 0 auto;
			margin-top: 65px;

			.venve {
				width: 360px;
				height: 470px;
				background: rgba(255, 255, 255, 1);
				border: 5px solid rgba(255, 255, 255, 1);
				border-radius: 6px;
				text-align: center;
				padding-bottom: 20px;
				overflow: hidden;
				cursor: pointer;

				img {
					width: 350px;
					height: 275px;
				}

				h3 {
					font-size: 22px;
					font-weight: bold;
					color: rgba(51, 51, 51, 1);
					margin-bottom: 30px;
					margin-top: 30px;
					position: relative;

					&::before {
						position: absolute;
						content: "";
						width: 60px;
						height: 4px;
						background: rgba(137, 201, 151, 1);
						position: absolute;
						left: 70px;
						top: 14px;
					}

					&::after {
						position: absolute;
						content: "";
						width: 60px;
						height: 4px;
						background: rgba(137, 201, 151, 1);
						position: absolute;
						left: 220px;
						top: 14px;
					}
				}

				p {
					margin: 0 auto;
					width: 306px;
					font-size: 12px;
					font-weight: 400;
					color: rgba(102, 102, 102, 1);
					line-height: 18px;
				}
			}

			.swiper-paginations {
				margin-top: 71px;
				width: 100%;
			}
		}
	}

	//主题商店
	.shop {
		width: 100%;
		height: 1080px;
		background: url(../../assets/img/theme-shop.jpg) no-repeat;
		background-size: 100% 100%;

		.shop-box {
			width: 100%;
			height: 100%;
			// background: rgba(136, 171, 218, 0.9);
			text-align: center;
			padding-top: 92px;

			.img {
				width: 456px;
				height: 93px;
			}

			.bottom {
				position: relative;
				width: 1200px;
				margin: 0 auto;
				margin-top: 65px;

				// margin-left: 210px;
				// margin-right: 210px;
				.venve1 {
					margin-left: 210px;
				}

				.venve {
					width: 360px;
					height: 470px;
					background: rgba(255, 255, 255, 1);
					border: 5px solid rgba(255, 255, 255, 1);
					border-radius: 6px;
					cursor: pointer;

					.venve-list {
						img {
							width: 100%;
							height: 258px;
							overflow: hidden;
						}

						.venve-content {
							width: 100%;
							height: 182px;
							text-align: left;
							background-color: #ffffff;
							padding-top: 30px;
							margin-top: -5px;

							div {
								font-size: 22px;
								font-weight: bold;
								color: rgba(236, 80, 19, 1);
								position: relative;

								padding-left: 20px;

								&::after {
									position: absolute;
									content: "";
									width: 60px;
									height: 4px;
									background: rgba(236, 80, 19, 1);
									position: absolute;
									left: 20px;
									top: 35px;
								}
							}

							p {
								font-size: 14px;
								font-family: MicrosoftYaHei;
								font-weight: bold;
								color: rgba(102, 102, 102, 1);
								line-height: 18px;
								padding: 35px 20px 20px 20px;
								overflow: hidden;
							}
						}
					}
				}

				.swiper-paginations1 {
					margin-top: 71px;
					width: 100%;
				}
			}
		}
	}

	//特色餐厅
	.eat {
		width: 100%;
		height: 1080px;
		background: url(../../assets/img/theme-eat.jpg) no-repeat;
		background-size: 100% 100%;

		.eat-box {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.1);
			text-align: center;
			padding-top: 92px;

			.img {
				width: 456px;
				height: 93px;
			}

			.eat-lists {
				padding-left: 395px;
				padding-top: 75px;
				cursor: pointer;

				.eat-list {
					&:nth-of-type(2n) {
						margin-left: 127px;
					}

					img {
						width: 500px;
						height: 309px;
						overflow: hidden;
					}

					.eat-content {
						width: 500px;
						height: 190px;
						text-align: left;
						background-color: #ffffff;
						padding-top: 30px;
						margin-top: -5px;

						div {
							font-size: 22px;
							font-weight: bold;
							color: rgba(236, 80, 19, 1);
							position: relative;

							padding-left: 20px;

							&::after {
								position: absolute;
								content: "";
								width: 60px;
								height: 4px;
								background: rgba(236, 80, 19, 1);
								position: absolute;
								left: 20px;
								top: 35px;
							}
						}

						p {
							font-size: 14px;
							font-family: MicrosoftYaHei;
							font-weight: bold;
							color: rgba(102, 102, 102, 1);
							line-height: 18px;
							padding: 35px 20px 20px 20px;
							overflow: hidden;
						}

						.p1 {
							padding: 0 20px 20px 20px;
						}
					}
				}
			}
		}
	}
}

.leftNav {
	width: 150px;
	height: 374px;
	background: rgba(7, 100, 233, 1);
	border-radius: 15px;
	position: fixed;
	left: 114px;
	top: 50%;
	margin-top: -215px;
	padding: 40px 0;
	z-index: 20;

	li {
		width: 150px;
		height: 59px;
		line-height: 59px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		color: rgba(255, 255, 255, 1);
		cursor: pointer;

		&:hover {
			background: rgba(73, 147, 252, 1);
		}
	}
}

.alert {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);

	.alert-box {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -265px;
		margin-left: -395px;
		width: 790px;
		height: 530px;
		background: rgba(255, 255, 255, 1);
		padding: 0 45px;

		h3 {
			line-height: 24px;
			font-size: 24px;
			font-family: MicrosoftYaHei-Bold;
			font-weight: bold;
			color: rgba(52, 149, 242, 1);
			// border-bottom: 1px solid rgba(202, 202, 202, 1);
			padding-bottom: 23px;
			padding-top: 31px;
		}

		.img {
			width: 697px;
			height: 220px;
			margin-top: 5px;
			margin-bottom: 45px;
		}

		p {
			font-size: 14px;
			font-weight: 400;
			color: rgba(51, 51, 51, 1);
			line-height: 28px;
			text-indent: 30px;
		}

		.x {
			width: 35px;
			height: 36px;
			position: absolute;
			right: -50px;
			top: -25px;
		}
	}
}

.To-top {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 99;
}